
<style>
.message-content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  font-size: 18px;
  line-height: 21px;
}
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Sua conta foi criada com sucesso, para confirmar sua conta, clique no botao abaixo.</p>
  <p>
    <a href="{{link}}">Confirmar</a>
  </p>
  <p>Se não foi você, então descarte esse email!</p>
  <p>
    Obrigado!<br />
    <strong>Equipe 2FA</strong>
  </p>
</div>
